@using FamilyIslandHelper.Api;
@using System.Collections;
@using FamilyIslandHelper.Api.Models.Abstract;
@model ViewModel

@{
	ViewData["Title"] = "Details Page";
}

<body>
	<form id="mainForm" method="post" action="~/Home/Index">
		<div id="CommonSettings" class="commonSettings">
			@Html.CheckBoxFor(m => m.ShowListOfComponents)
			@Html.LabelFor(m => m.ShowListOfComponents)
		</div>

		<div class="component">
			<div>
				@Html.LabelFor(m => m.BuildingName, "Buildings:")
				@Html.DropDownListFor(m => m.BuildingName, new SelectList(@Model.BuildingsNames))
			</div>
			<div>
				<label>Produce ratio: </label>@Html.DisplayFor(m => m.BuildingProduceRatio)
			</div>
			<div id="ItemsImages">
				@foreach (var itemName in @Model.Items)
				{
					var itemNameImageName = itemName + ".png";
					<img class="itemNameImage" id="@itemName" width="50" onclick="setItemName(event);" src="/images/Pictures/@Model.BuildingName/@itemNameImageName" alt="@itemName">
				}
				<input type="hidden" name="ItemName" id="ItemName" value="@Model.ItemName" />
			</div>
			<div>
				@Html.LabelFor(m => m.ItemCount, "Item count:")
				<input type="number" id="ItemCount" name="ItemCount" min="1" max="20" value="@Model.ItemCount" />
			</div>
			<div>
				<textarea id="ItemInfo" name="ItemInfo">@Model.ItemInfo</textarea>
			</div>
		</div>
	</form>
</body>
